doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/top-baner/top-baner
  include ../components/gift-list/gift-list
  include ../components/gift-block/gift-block
  include ../components/conditions/conditions
  include ../components/business-block/business-block
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    +top-baner()
    +gift-list()
    +business-block()
    +conditions()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')