mixin gift-list(data)
  .gift-list
    .gift-list__title ЧТО <span>ДАРИМ</span> ЗА Подписки?

    .gift-list-row._apple._gray
      .gift-list-row__wrapper
        +gift-block({"title":"Macbook PRO'15 Touch Bar & Touch ID 256Gb", "img":"macbook-pro-15.jpg", "cost":"35 000"})

        +gift-block({"title":"Macbook PRO'13 2.0гц 256Gb", "img":"macbook-pro-13.jpg", "cost":"35 000"})

        +gift-block({"title":"iPad Pro 12.9 <br>128Gb Wi-Fi", "img":"ipad-12.jpg", "cost":"35 000"})

        +gift-block({"title":"iPhone 7 Plus <br>256Gb", "img":"iphone-7-plus.jpg", "cost":"35 000"})

        +gift-block({"title":"iPhone 7 <br>128Gb", "img":"iphone-7.jpg", "cost":"35 000"})

        +gift-block({"title":"Apple Watch Series 2 42mm Aluminum Case with Sport Band", "img":"apple-watch.jpg", "cost":"35 000"})

    .gift-list-row._samsung
      .gift-list-row__wrapper
        +gift-block({"title":"Samsung <br>QE55Q8CAMUX", "img":"samsung-tv.jpg", "cost":"35 000"})

        +gift-block({"title":"Samsung Galaxy S8+ <br>64 GB", "img":"galaxy-s8-plus.jpg", "cost":"35 000"})

        +gift-block({"title":"Samsung Galaxy S8 <br>64 GB", "img":"galaxy-s8.jpg", "cost":"35 000"})

        +gift-block({"title":"Samsung Galaxy <br>TabPro S 12.0 128Gb ", "img":"galaxy-tab-pro.jpg", "cost":"35 000"})

        +gift-block({"title":"Samsung Galaxy Tab <br>S3 9.7\" LTE", "img":"galaxy-tab.jpg", "cost":"35 000"})

        +gift-block({"title":"Смарт-часы Samsung Gear S2 Classic Premium Edition", "img":"samsung-gear.jpg", "cost":"35 000"})

    .gift-list-row._gift._gray
      .gift-list-row__wrapper
        +gift-block({"title":"Sony PlayStation 4 Pro 1Tb", "img":"ps-4.jpg", "cost":"35 000"})

        +gift-block({"title":"Microsoft Xbox <br>One S", "img":"xbox-one.jpg", "cost":"35 000"})

        +gift-block({"title":"Nikon D750 24-120 mm VR II Kit", "img":"nikon-d750.jpg", "cost":"35 000"})

        +gift-block({"title":"Экшн-камера GoPro HERO 5", "img":"go-pro.jpg", "cost":"35 000"})

        +gift-block({"title":"Наушники Beats Pro Over-Ear Headphones", "img":"beats-pro.jpg", "cost":"35 000"})

        +gift-block({"title":"Квадрокоптер DJI Inspire Pro", "img":"inspire-pro.jpg", "cost":"35 000"})