mixin footer(data)
  .footer
    .footer__title Служба поддержки:
    .footer__item._icq <span>ICQ:</span> 468144742
    .footer__item._skype <span>Skype:</span> limonbucks
    .footer__item._telegram <span>Telegram:</span> @limonbucks