mixin conditions(data)
  .conditions
    .conditions__title УСЛОВИЯ КОНКУРСА

    .conditions__wrapper
      .conditions__item Траффик принимаеться из WEB подписок  любых операторов России 
      .conditions__item За 1 подтвержденную подписку дается 1 лимон
      .conditions__item За 15+ подписок  в день лимоны начисляются коэфициентом 1,05 
      .conditions__item Лимоны можно потратить не позднее 1 месяца после окончания конкурса

    +footer