.top-baner {
  position: relative;

  text-align: center;

  background: $green url(%=static=%general/pattern.png) repeat center;
  &:before,
  &:after {
    z-index: 3;

    content: '';

    @include horizontal-center;
  }
  &:before {
    top: 0;

    @include bg($white-stars);
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  &:after {
    bottom: -160px;

    @include bg($yellow-stars);
    @media screen and (max-width: 760px) {
      display: none;
    }
  }
  &__wrapper {
    @extend .wrapper;
  }
  &__logo {
    position: relative;
    z-index: 5;

    margin: auto;

    @include bg($logo);
  }
  &__title {
    font-size: 63px;

    position: relative;

    margin-top: 15px;

    text-align: center;

    color: $white;
    @media screen and (max-width: 1200px) {
      font-size: 53px;

      display: inline-block;
    }
    @media screen and (max-width: 1024px) {
      font-size: 43px;
    }
    @media screen and (max-width: 375px) {
      font-size: 38px;
    }
    &:before,
    &:after {
      position: absolute;
      top: 10px;

      content: '';
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
    &:before {
      left: -15px;

      @include bg($splash-title-left);
      @media screen and (max-width: 1200px) {
        top: 0;
        left: -60px;
      }
    }
    &:after {
      right: -15px;

      @include bg($splash-title-right);
      @media screen and (max-width: 1200px) {
        top: 0;
        right: -60px;
      }
    }
  }
  &__date {
    font-size: 18px;

    display: inline-block;

    margin: auto;
    margin-top: 25px;
    padding: 10px 15px;

    text-transform: uppercase;

    color: $dark-green;
    border-radius: 10px;
    background-color: $yellow;
  }
}

.top-baner-steps {
  position: relative;
  z-index: 5;

  display: flex;

  margin-top: 30px;

  justify-content: space-between;
  align-items: stretch;
  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
}

.top-baner-steps-item {
  position: relative;

  width: 340px;
  @media screen and (max-width: 1024px) {
    width: 26%;
  }
  @media screen and (max-width: 500px) {
    width: 80%;
    margin: 0 auto 25px;
  }
  &:after {
    position: absolute;
    top: 80px;

    content: '';

    @include bg($arrow-steps);
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &._first {
    &:after {
      right: -100px;
    }
  }
  &._center {
    &:after {
      right: -70px;
      @media screen and (max-width: 1024px) {
        right: -80px;
      }
    }
  }
  &._last {
    &:after {
      display: none;
    }
  }
  &__image {
    margin-bottom: 20px;
    img {
      display: block;

      margin: auto;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
      @media screen and (max-width: 500px) {
        width: 70%;
      }
    }
  }
  &__title {
    font-family: 'Lato-Regular';
    font-size: 23px;

    color: $white;
    @media screen and (max-width: 1024px) {
      font-size: 20px;;
    }
    span {
      font-family: 'Lato-Bold';
    }
  }
}

.top-baner-bottom {
  margin-top: 30px;
  padding: 20px 0;

  background-color: rgba($dark-green, .25);
  &__title {
    font-family: 'Lato-Medium';
    font-size: 25px;

    color: $white;
    span {
      font-family: 'Lato-Black';

      color: $yellow;
    }
  }
}
