mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner__logo
      .top-baner__title Гарантированные призы за подписки

      .top-baner__date с 1 августа по  31 декабря

      .top-baner-steps
        .top-baner-steps-item._first
          .top-baner-steps-item__image
            img(src="%=static=%images/assets/top-baner/step-1.png" alt="")
          .top-baner-steps-item__title Лей траффик <span>WEB подписок</span> операторов России на любые наши сайты

        .top-baner-steps-item._center
          .top-baner-steps-item__image
            img(src="%=static=%images/assets/top-baner/step-2.png" alt="")
          .top-baner-steps-item__title Получай <span>лимоны</span> <br>за подписки

        .top-baner-steps-item._last
          .top-baner-steps-item__image
            img(src="%=static=%images/assets/top-baner/step-3.png" alt="")
          .top-baner-steps-item__title Обменивай заработанные лимоны на <span>супер призы</span>

    .top-baner-bottom 
      .top-baner-bottom__title НАЧИНАЙ ЛИТЬ траффик И ЗАБИРАЙ ПРИЗЫ <span>БЕЗ ОГРАНИЧЕНИЯ!</span>
        