mixin business-block(data)
  .business-block
    .business-block-row._white._visitweb
      .business-block__banner
        img(src="%=static=%images/assets/business-block/bg.png" alt="")
        .business-block__count 35 000